div#map style="width:720px;height:970px;"

javascript:
  function myMap() {

    var styledMapType = new google.maps.StyledMapType(#{{ my_api_css }}, {name: 'Styled Map'});

    var mapOptions = {
      center: { lat: #{origin[:lat]}, lng: #{origin[:lng]} },
      zoom: #{zoom.to_i},
      mapTypeControlOptions: {mapTypeIds: "off"},
      mapTypeControl: true
    };

    var map = new google.maps.Map(document.getElementById('map'),mapOptions);

    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

    var runningPath = new google.maps.Polyline({
      path: [ #{{ mon_joli_parcours }} ],
      strokeColor: "#046380",
      strokeOpacity: 1,
      strokeWeight: 4
    });

    runningPath.setMap(map);
  }

h2 #{km}

<script src="https://maps.googleapis.com/maps/api/js?key=#{my_api_key}&callback=myMap"></script>
