div#map style="width:100%;height:500px"

javascript:
  function myMap() {
    var origin = new google.maps.LatLng(#{point0[:lat]},#{point0[:lng]});

    var home   = new google.maps.LatLng(#{s01[0]},#{s01[1]});
    var a0     = new google.maps.LatLng(#{s02[0]},#{s02[1]});
    var a1_0   = new google.maps.LatLng(#{s03[0]},#{s03[1]});
    var a1_1   = new google.maps.LatLng(#{s04[0]},#{s04[1]});
    var a2     = new google.maps.LatLng(#{s05[0]},#{s05[1]});
    var a3     = new google.maps.LatLng(#{s06[0]},#{s06[1]});
    var a4     = new google.maps.LatLng(#{s07[0]},#{s07[1]});
    var a5     = new google.maps.LatLng(#{s08[0]},#{s08[1]});

    var mapCanvas = document.getElementById("map");
    var mapOptions = {center: origin, zoom: #{zoom.to_i}};
    var map = new google.maps.Map(mapCanvas,mapOptions);

    var runPath = new google.maps.Polyline({
      path: [home, a0, a1_0, a1_1, a2, a3, a4, a5],
      strokeColor: "#046380",
      strokeOpacity: 0.8,
      strokeWeight: 3
    });
    runPath.setMap(map);
  }

<script src="https://maps.googleapis.com/maps/api/js?key=#{my_api_key}&callback=myMap"></script>
