div#map style="width:100%;height:900px"

javascript:
  function initMap() {

    var styledMapType = new google.maps.StyledMapType(#{{ my_api_css }},
      {name: 'Styled Map'});

    var color = "#85bd33"

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: #{zoom.to_i},
      zoomControl: false,
      scaleControl: false,
      streetViewControl: false,
      fullscreenControl: false,
      center: { lat: #{origin[:lat]}, lng: #{origin[:lng]} },
      mapTypeControlOptions: {mapTypeIds: "off"},
      mapTypeControl: true
    });

    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

    var perimetrie = new google.maps.Polyline({
      path: [ #{{ perimetrie }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var vieilleFerme = new google.maps.Polyline({
      path: [ #{{ vieilleFerme }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var path1 = new google.maps.Polyline({
      path: [ #{{ path1 }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var path2 = new google.maps.Polyline({
      path: [ #{{ path2 }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var path3 = new google.maps.Polyline({
      path: [ #{{ path3 }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var path4 = new google.maps.Polyline({
      path: [ #{{ path4 }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var pathButte = new google.maps.Polyline({
      path: [ #{{ pathButte }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var pathABCD = new google.maps.Polyline({
      path: [ #{{ pathABCD }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var mare = new google.maps.Polyline({
      path: [ #{{ mare }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var pontonSeine = new google.maps.Polyline({
      path: [ #{{ pontonSeine }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var maisonInsectes = new google.maps.Polyline({
      path: [ #{{ maisonInsectes }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var observatoire = new google.maps.Polyline({
      path: [ #{{ observatoire }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    var galiotte = new google.maps.Polyline({
      path: [ #{{ galiotte }} ],
      strokeColor: color,
      strokeOpacity: 1,
      strokeWeight: 4
    });

    perimetrie.setMap(map);
    vieilleFerme.setMap(map);
    path1.setMap(map);
    path2.setMap(map);
    path3.setMap(map);
    path4.setMap(map);
    pathButte.setMap(map);
    pathABCD.setMap(map);
    mare.setMap(map);
    pontonSeine.setMap(map);
    maisonInsectes.setMap(map);
    observatoire.setMap(map);
    galiotte.setMap(map);
  }

<script src="https://maps.googleapis.com/maps/api/js?key=#{my_api_key}&callback=initMap"></script>
